node_modules
.DS_Store
dist
dist-ssr
*.local
.dev.vars
.wrangler
package-lock.json
yarn.lock
pnpm-lock.yaml

# cypress
cypress/plugins/
cypress/support/
cypress/screenshots/
cypress/videos/

# electron
release/
