body {
  background-color: #f1f1f1;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  background: #fff;
  border: 0;
  height: 100%;
  width: 100%;
}

textarea {
  background-color: #333;
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: calc(100% - 16px) calc(100% - 16px);
  box-shadow: 0 0 0 .1px rgba(255, 255, 255, .3);
  color: #fff;
  font-family: monospace;
  font-size: 24px;
  padding: 24px;
  resize: none;
  width: 100%;
  height: 100%;
}

textarea:focus {
  outline: 0;
}

.editor {
  position: relative;
}

.editor::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
}

#html::after {
  background-image: url('/assets/html5.svg');
}

#css::after {
  background-image: url('/assets/css3.svg');
}

#js::after {
  background-image: url('/assets/js.svg');
}

.grid {
  display: grid;
  grid-template-columns: calc(50% - 2px) 4px calc(50% - 2px);
  grid-template-rows: calc(50% - 2px) 4px calc(50% - 2px);
  height: 100vh;
}

.vertical-gutter {
  cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  background: #666;
}

.horizontal-gutter {
  cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  background: #666;
}

/* Monaco Editor Styles */
.monaco-editor {
  
}