aside {
  display: flex;
}

aside button {
  position: relative;
}

aside button .button-title {
  background: var(--button-title-background);
  border-radius: 3px;
  border: 1px solid var(--button-title-border);
  color: var(--button-title-foreground);
  display: none;
  font-size: 1.1em;
  padding: 0.5em 0.75em;
  position: absolute;
  right: -10px;
  transform: translateX(100%);
  z-index: 1000;

  &:after {
    content: '';
    position: absolute;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 1px;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid var(--button-title-background);
  }

  &:before {
    content: '';
    position: absolute;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 0px;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid var(--button-title-border);
  }
}

aside button.is-active {
  opacity: 1;
  border-left: 3px solid red;
}

@media (hover: hover) and (pointer: fine) {
  aside button:hover {
    opacity: 1;
    & .button-title {
      display: block;
    }
  }
}

.aside-bar {
  background: var(--aside-bar-background);
  color: var(--aside-bar-foreground);
  border-right: 1px solid var(--aside-bar-border);
  width: 310px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0.85em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 50%, 0);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 50%, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 50%, 0.6);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: hsla(0, 0%, 50%, 1);
  }
}

.aside-sections {
  background: var(--aside-sections-background);
  border-right: 1px solid var(--aside-sections-border);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 72px;
}

.aside-sections button {
  background: transparent;
  border: 0;
  border-left: 3px solid transparent;
  cursor: pointer;
  width: 100%;
  color: var(--button-foreground);
  transition: opacity 0.1s ease;
  padding: 16px 0;
}

.aside-sections button.is-active {
  color: var(--button-foreground-active);
  border-left: 3px solid var(--button-foreground-active);
}

.aside-sections button:hover {
  color: var(--button-foreground-active);
}

.aside-sections svg {
  width: 40px;
  height: 40px;
}

.aside-sections header,
.aside-sections footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside-sections--compact {
  width: 52px;
}

.aside-sections--compact button {
  padding: 10px 0;
}

.aside-sections--compact svg {
  width: 25px;
  height: 25px;
}
