aside {
  background: #2d323c;
  display: flex;
}

aside button {
  position: relative;
}

aside button .button-title {
  background: #2d323c;
  border-radius: 3px;
  border: 1px solid #000;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 30%);
  color: #c5c5c5;
  display: none;
  font-size: 1.1em;
  padding: 0.5em 0.75em;
  position: absolute;
  right: -10px;
  transform: translateX(100%);
  z-index: 1000;

  &:after {
    content: "";
    position: absolute;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 1px;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid #2d323c;
  }

  &:before {
    content: "";
    position: absolute;
    transform: translate(-100%, -50%);
    top: 50%;
    left: 0px;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid #000;
  }
}

aside button.is-active {
  opacity: 1;
  border-left: 3px solid #c5c5c5;
}

@media (hover: hover) and (pointer: fine) {
  aside button:hover {
    opacity: 1;
    & .button-title {
      display: block;
    }
  }
}

.aside-bar {
  width: 310px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0.85em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 50%, 0);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 50%, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 50%, 0.6);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: hsla(0, 0%, 50%, 1);
  }
}

.aside-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 72px;
}

.aside-sections button {
  background: transparent;
  border: 0;
  border-left: 3px solid transparent;
  cursor: pointer;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.1s ease;
  padding: 16px 0;
}

.aside-sections button.is-active {
  opacity: 1;
  border-left: 3px solid #c5c5c5;
}

.aside-sections button:hover {
  opacity: 1;
}

.aside-sections svg {
  width: 40px;
  height: 40px;
}

.aside-sections header,
.aside-sections footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside-sections--compact {
  width: 52px;
}

.aside-sections--compact svg {
  width: 25px;
  height: 25px;
}
