:root {
  --app-background: rgb(30, 30, 30);
  --app-foreground: rgb(204, 204, 204);

  --aside-sections-background: rgb(51, 51, 51);
  --aside-sections-border: transparent;

  --aside-bar-background: rgb(37, 37, 38);
  --aside-bar-foreground: rgb(204, 204, 204);
  --aside-bar-border: transparent;

  --grid-background: rgb(37, 37, 38);

  --button-foreground: rgba(255, 255, 255, 0.4);
  --button-foreground-active: rgb(255, 255, 255);

  --button-title-background: rgb(51, 51, 51);
  --button-title-foreground: rgb(225, 228, 232);
  --button-title-border: rgb(51, 51, 51);

  --input-background: rgb(51, 51, 51);
  --input-foreground: rgb(225, 228, 232);
  --input-border: rgb(51, 51, 51);

  --log-log: rgb(205, 238, 181);
  --log-info: rgb(181, 181, 238);
  --log-error: rgb(227, 189, 189);
  --log-warn: rgb(247, 231, 161);
}

[data-theme='vs'] {
  --app-background: rgb(255, 255, 254);
  --app-foreground: rgb(0, 0, 0);

  --aside-sections-background: rgb(44, 44, 44);

  --aside-bar-background: rgb(243, 243, 243);
  --aside-bar-foreground: rgb(97, 97, 97);

  --grid-background: rgb(243, 243, 243);

  --gutter-background: rgb(243, 243, 243);

  --input-background: rgb(243, 243, 243);
  --input-foreground: rgb(97, 97, 97);
  --input-border: rgb(97, 97, 97);

  --log-log: rgb(14, 197, 8);
  --log-info: rgb(31, 76, 226);
  --log-error: rgb(219, 14, 14);
  --log-warn: rgb(203, 168, 8);
}

[data-theme='hc-black'] {
  --app-background: rgb(0, 0, 0);
  --app-foreground: rgb(255, 255, 255);

  --aside-sections-background: rgb(0, 0, 0);
  --aside-sections-border: rgb(255, 255, 255);

  --aside-bar-background: rgb(0, 0, 0);
  --aside-bar-foreground: rgb(255, 255, 255);
  --aside-bar-border: rgb(255, 255, 255);

  --grid-background: rgb(255, 255, 255);

  --button-foreground: rgb(255, 255, 255);

  --button-title-background: rgb(255, 255, 255);
  --button-title-foreground: rgb(0, 0, 0);
  --button-title-border: rgb(0, 0, 0);

  --input-background: rgb(0, 0, 0);
  --input-foreground: rgb(255, 255, 255);
  --input-border: rgb(255, 255, 255);
}

[data-theme='hc-light'] {
  --app-background: rgb(255, 255, 255);
  --app-foreground: rgb(0, 0, 0);

  --aside-sections-background: rgb(255, 255, 255);
  --aside-sections-border: rgb(15, 74, 133);

  --aside-bar-background: rgb(255, 255, 255);
  --aside-bar-foreground: rgb(0, 0, 0);
  --aside-bar-border: rgb(15, 74, 133);

  --grid-background: rgb(15, 74, 133);

  --gutter-background: rgb(255, 255, 255);

  --button-foreground: rgb(0, 0, 0);
  --button-foreground-active: rgb(0, 0, 0);

  --button-title-background: rgb(0, 0, 0);
  --button-title-foreground: rgb(255, 255, 255);
  --button-title-border: rgb(255, 255, 255);

  --input-background: rgb(255, 255, 255);
  --input-foreground: rgb(0, 0, 0);
  --input-border: rgb(0, 0, 0);

  --log-log: rgb(7, 154, 2);
  --log-info: rgb(6, 53, 210);
  --log-error: rgb(223, 0, 0);
  --log-warn: rgb(178, 145, 0);
}

body {
  background-color: var(--app-background);
  color: var(--app-foreground);
  font-size: 16px;
  height: 100vh;
  line-height: 1.42857143;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #41a0ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

select {
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: 1px solid var(--input-border);
  height: 26px;
  margin-top: 8px;
  padding: 2px 8px;
  width: 100%;
}

[hidden] {
  display: none !important;
}

#app {
  display: grid;
  grid-template-columns: auto 1fr;
}

iframe {
  background: #fff;
  border: 0;
  height: 100%;
  width: 100%;
}