:root {
  --app-background: #0b0b0b;
  --app-foreground: rgb(204, 204, 204);

  --island-background: #1e1e1e;
  --island-radius: 12px;
  --island-gap: 8px;

  --aside-sections-background: var(--island-background);
  --aside-sections-border: transparent;

  --aside-bar-background: var(--island-background);
  --aside-bar-foreground: rgb(204, 204, 204);
  --aside-bar-border: transparent;

  --grid-background: var(--app-background);

  --button-foreground: #ffffff;
  --button-foreground-active: #ffffff;
  --button-icon-opacity: 0.45;
  --button-background-hover: rgba(255, 255, 255, 0.06);
  --button-background-active: rgba(255, 255, 255, 0.1);

  --button-title-background: #2a2a2a;
  --button-title-foreground: rgb(225, 228, 232);
  --button-title-border: #2a2a2a;

  --input-background: #2a2a2a;
  --input-foreground: rgb(225, 228, 232);
  --input-border: #2a2a2a;

  --log-log: rgb(205, 238, 181);
  --log-info: rgb(181, 181, 238);
  --log-error: rgb(227, 189, 189);
  --log-warn: rgb(247, 231, 161);

  --editor-background: #1e1e1e;
  --editor-foreground: #d4d4d4;
  --editor-line-number: #858585;

  --mono-font: 'Cascadia Code PL', 'Menlo', 'Monaco', 'Courier New', monospace;
}

[data-theme='vs'] {
  --app-background: #d8d8d8;
  --app-foreground: rgb(0, 0, 0);
  --island-background: #ffffff;

  --aside-sections-background: #2c2c2c;
  --aside-bar-background: var(--island-background);
  --aside-bar-foreground: rgb(97, 97, 97);

  --gutter-background: var(--app-background);

  --button-foreground: #ffffff;
  --button-foreground-active: #ffffff;
  --button-icon-opacity: 0.45;
  --button-background-hover: rgba(255, 255, 255, 0.08);
  --button-background-active: rgba(255, 255, 255, 0.14);

  --input-background: #f3f3f3;
  --input-foreground: rgb(97, 97, 97);
  --input-border: #e4e4e4;

  --log-log: rgb(14, 197, 8);
  --log-info: rgb(31, 76, 226);
  --log-error: rgb(219, 14, 14);
  --log-warn: rgb(203, 168, 8);

  --editor-background: #ffffff;
  --editor-foreground: #000000;
  --editor-line-number: #237893;
}

[data-theme='hc-black'] {
  --app-background: #000000;
  --app-foreground: rgb(255, 255, 255);
  --island-background: #000000;

  --aside-sections-background: var(--island-background);
  --aside-sections-border: rgb(255, 255, 255);

  --aside-bar-background: var(--island-background);
  --aside-bar-foreground: rgb(255, 255, 255);
  --aside-bar-border: rgb(255, 255, 255);

  --button-foreground: #ffffff;
  --button-icon-opacity: 1;
  --button-background-hover: rgba(255, 255, 255, 0.12);
  --button-background-active: rgba(255, 255, 255, 0.2);

  --button-title-background: rgb(255, 255, 255);
  --button-title-foreground: rgb(0, 0, 0);
  --button-title-border: rgb(0, 0, 0);

  --input-background: rgb(0, 0, 0);
  --input-foreground: rgb(255, 255, 255);
  --input-border: rgb(255, 255, 255);

  --editor-background: #000000;
  --editor-foreground: #ffffff;
  --editor-line-number: #ffffff;
}

[data-theme='hc-light'] {
  --app-background: #e6e6e6;
  --app-foreground: rgb(0, 0, 0);
  --island-background: #ffffff;

  --aside-sections-background: var(--island-background);
  --aside-sections-border: rgb(15, 74, 133);

  --aside-bar-background: var(--island-background);
  --aside-bar-foreground: rgb(0, 0, 0);
  --aside-bar-border: rgb(15, 74, 133);

  --gutter-background: var(--app-background);

  --button-foreground: #000000;
  --button-foreground-active: #000000;
  --button-icon-opacity: 0.55;
  --button-background-hover: rgba(15, 74, 133, 0.08);
  --button-background-active: rgba(15, 74, 133, 0.16);

  --button-title-background: rgb(0, 0, 0);
  --button-title-foreground: rgb(255, 255, 255);
  --button-title-border: rgb(255, 255, 255);

  --input-background: rgb(255, 255, 255);
  --input-foreground: rgb(0, 0, 0);
  --input-border: rgb(0, 0, 0);

  --log-log: rgb(7, 154, 2);
  --log-info: rgb(6, 53, 210);
  --log-error: rgb(223, 0, 0);
  --log-warn: rgb(178, 145, 0);

  --editor-background: #ffffff;
  --editor-foreground: #292929;
  --editor-line-number: #0f4a81;
}

[data-theme='mosqueta-dark'] {
  --app-background: #10131b;
  --app-foreground: rgb(204, 204, 204);
  --island-background: #1e2530;

  --aside-sections-background: var(--island-background);
  --aside-sections-border: transparent;

  --aside-bar-background: var(--island-background);
  --aside-bar-foreground: rgb(204, 204, 204);
  --aside-bar-border: transparent;

  --button-foreground: #ffffff;
  --button-foreground-active: #ff89ef;
  --button-icon-opacity: 0.4;
  --button-border-active: #40142c;
  --button-background-hover: #2a2030;
  --button-background-active: #40142c;

  --button-title-background: #171a25;
  --button-title-foreground: rgb(225, 228, 232);
  --button-title-border: rgb(51, 51, 51);

  --input-background: #171a25;
  --input-foreground: #ff89ef;
  --input-border: #171a25;

  --editor-background: #232935;
  --editor-foreground: #d4d4d4;
  --editor-line-number: #858585;
}

[data-theme='dracula'] {
  --app-background: #12141c;
  --app-foreground: #f8f8f2;
  --island-background: #20232c;

  --aside-sections-background: #282a36;
  --aside-sections-border: transparent;

  --aside-bar-background: var(--island-background);
  --aside-bar-foreground: #ffffff;
  --aside-bar-border: transparent;

  --button-foreground: #ffffff;
  --button-foreground-active: #ffffff;
  --button-icon-opacity: 0.45;
  --button-border-active: #40142c;
  --button-background-hover: #353646;
  --button-background-active: #40142c;

  --button-title-background: #171a25;
  --button-title-foreground: rgb(225, 228, 232);
  --button-title-border: rgb(51, 51, 51);

  --input-background: #454659;
  --input-foreground: #ffffff;
  --input-border: #171a25;

  --editor-background: #2a2c37;
  --editor-foreground: #d4d4d4;
  --editor-line-number: #858585;
}

[data-theme='one-dark-pro'] {
  --app-background: #12141a;
  --app-foreground: #abb2bf;
  --island-background: #21262c;

  --aside-sections-background: #282b34;
  --aside-sections-border: transparent;

  --aside-bar-background: var(--island-background);
  --aside-bar-foreground: #ffffff;
  --aside-bar-border: transparent;

  --button-foreground: #ffffff;
  --button-foreground-active: #ffffff;
  --button-icon-opacity: 0.45;
  --button-border-active: #40142c;
  --button-background-hover: #32363e;
  --button-background-active: #40142c;

  --button-title-background: #171a25;
  --button-title-foreground: rgb(225, 228, 232);
  --button-title-border: rgb(51, 51, 51);

  --input-background: #404554;
  --input-foreground: #ffffff;
  --input-border: #171a25;

  --editor-background: #282b34;
  --editor-foreground: #d4d4d4;
  --editor-line-number: #858585;
}

body {
  background-color: var(--app-background);
  color: var(--app-foreground);
  font-size: 16px;
  height: 100dvh;
  line-height: 1.42857143;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #41a0ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

select {
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: 1px solid var(--input-border);
  height: 32px;
  margin-top: 8px;
  padding: 2px 8px;
  width: 100%;
  border-radius: 8px;
}

[hidden] {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  overflow: visible;
  fill: none;
  stroke: currentColor;
}

#app {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  min-height: 0;
  padding: var(--island-gap);
  gap: var(--island-gap);
  background: var(--app-background);

  #editor,
  aside {
    height: 100%;
    min-height: 0;
    min-width: 0;
  }
}

iframe {
  background: var(--island-background);
  border: 0;
  height: 100%;
  width: 100%;
  display: block;
}