.history {
  & .history-header {
    background: var(--aside-bar-background);
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 1em;
    padding-left: 0.5em;
  }

  & .history-item {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 1em 0.5em;
  }

  & .history-item strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .history-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;

    & button {
      background: rgba(255, 255, 255, 0.05);
      display: flex;
      align-items: center;
      gap: 6px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      color: #fff;
      cursor: pointer;
      padding: 6px 8px 6px 6px;
      transition: 0.2s ease background-color, 0.2s ease scale;
      border-radius: 4px;
      margin-top: 1em;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.2);
        scale: 0.95;
      }

      & svg {
        width: 16px;
        height: 16px;
      }

      &.hidden {
        display: none;
        pointer-events: none;
        margin-top: 0;
      }
    }
  }

  & .history-list {
    list-style: none;
    padding: 0;
    display: grid;
    
    & .group {
      margin-bottom: 8px;
      max-width: 100%;
      overflow: hidden;
    }

    & .group h4 {
      margin: 0;
      font-size: 12px;
      opacity: 0.5;
      font-weight: 600;
      margin: 0;
      padding: 0.5em 0 0.5em 0.5em;
    }

    & li {
      transition: 0.2s ease background-color;
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      gap: 1rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);

        & .actions:not([class*="hidden"]) {
          padding-right: 0.5em;
          width: 64px;
          opacity: 1;
        }
      }

      &.is-active {
        background-color: rgba(255, 255, 255, 0.1);
      }

      & button {
        color: #fff;
        border: none;
        background: none;
        cursor: pointer;
      }

      & > button {
        text-decoration: none;
        word-break: break-all;
        flex-grow: 1;
        padding: 0.8em 0 0.8em 0.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: start;
      }

      & input {
        background: transparent;
        border: none;
        color: #fff;
        flex-grow: 1;
        padding: 0.8em 0.5em;
        outline: none;
      }

      & .actions {
        transition: 0.1s ease opacity, 0.2s ease width;
        display: flex;
        align-items: center;
        opacity: 0.1;
        width: 0;
        gap: 6px;

        & button {
          transition: 0.2s ease opacity, 0.2s ease transform;
          line-height: 0;
          padding: 3px;
          flex-shrink: 0;
          opacity: 1;
          animation: zoomIn 0.1s ease-out;

          &:hover {
            opacity: 0.7;
          }

          &:active {
            scale: 0.9;
          }

          & svg {
            width: 18px;
            height: 18px;
          }

        }
      }
    }

    & .hidden {
      display: none;
      pointer-events: none;
      width: 0;
    }
  }

  & .message {
    padding-left: 0.5rem;
    line-height: 1.8rem;
    margin: 0;

    & code {
      font-family: monospace;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      padding: 0.2rem 0.5rem;
      font-size: 0.9rem;
    }
  }

}