#notifications {
  position: relative;
  z-index: 999999;
  display: flex;
  flex-direction: column;
}

#notifications-wrapper {
  position: fixed;
  width: fit-content;
  height: fit-content;
  bottom: 10px;
  right: 10px;
}

.notification {
  display: flex;
  align-items: center;
  column-gap: 0.33rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 30%);
  background-color: #2f363d;
  color: #e1e4e8;
  transition: opacity cubic-bezier(0.215, 0.61, 0.455, 1);
  user-select: none;
  cursor: pointer;
  border-radius: 9999px;
}

.notification.animation-in {
  animation: fadeInSlideUp 0.4s ease;
}

.notification.animation-out {
  animation: fadeOutSlideDown 0.4s ease;
}

.icon-close {
  color: rgba(225, 228, 232, 0.822);
  margin-left: 0.5rem;
}

.icon-close:hover {
  color: rgb(225, 228, 232);
}

.notification__icon,
.notification__message,
.icon-close {
  display: flex;
  align-self: center;
}

.notification--info .notification__icon {
  color: #6199cb;
}

.notification--warning .notification__icon {
  color: #c3a001;
}

.notification--danger .notification__icon {
  color: #a34535;
}