#notifications {
  position: relative;
  z-index: 999999;
  display: flex;
  flex-direction: column;
}

#notifications-wrapper {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: fit-content;
  height: fit-content;
}

.notification {
  display: flex;
  align-items: center;
  column-gap: 0.33rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 30%);
  background-color: #2f363d;
  color: rgb(225, 228, 232);
  transition: opacity cubic-bezier(0.215, 0.61, 0.455, 1);
  user-select: none;
  cursor: pointer;
}

.icon-close {
  color: rgba(225, 228, 232, 0.822);
  margin-left: 0.5rem;
}

.icon-close:hover {
  color: rgb(225, 228, 232);
}

.notification__icon,
.notification__message,
.icon-close {
  display: flex;
  align-self: center;
}

#notifications-wrapper.notification--top-left {
  top: 10px;
  left: 10px;
}

#notifications-wrapper.notification--top-center {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#notifications-wrapper.notification--top-right {
  top: 10px;
  right: 10px;
}

#notifications-wrapper.notification--bottom-left {
  bottom: 10px;
  left: 10px;
}

#notifications-wrapper.notification--bottom-center {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#notifications-wrapper.notification--bottom-right {
  bottom: 10px;
  right: 10px;
}

#notifications-wrapper[class|="notification--top"] .bounce-active {
  animation: bounceInDown 0.4s;
}

#notifications-wrapper[class|="notification--bottom"] .bounce-active {
  animation: bounceInUp 0.4s;
}

#notifications-wrapper[class|="notification--top"] .bounce-leave {
  animation: bounceOutUp 0.4s;
}

#notifications-wrapper[class|="notification--bottom"] .bounce-leave {
  animation: bounceOutDown 0.4s;
}

.notification--info .notification__icon {
  color: #6199cb;
}

.notification--warning .notification__icon {
  color: #c3a001;
}

.notification--danger .notification__icon {
  color: #a34535;
}

.HW_badge_cont {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 20px !important;
  height: 20px !important;
}

.HW_badge {
  top: 2px !important;
  left: 2px !important;
}
