.settings {
  & .settings-content {
    display: grid;
    place-content: center;
    height: 100%;
  }

  & .settings-type {
    opacity: 0.6;
  }

  & .settings-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 1em;

    & .layout-preview-container {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      & label {
        border-radius: 5px;
        position: relative;
        transition: 0.3s ease opacity, 0.3s ease background-color;
      }

      & label:hover {
        background-color: #000;
        opacity: 0.9;
      }

      & input[type='radio'] {
        cursor: pointer;
        height: 100%;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  & .checkbox {
    display: flex;
    align-items: center;
  }

  & .checkbox input {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
  }

  & .checkbox span {
    display: flex;
    align-items: center;
  }

  & .checkbox input:focus + span::before {
    content: '';
    outline: 1px solid #fff;
  }

  & .checkbox input:checked + span::before {
    content: '✓';
  }

  & .checkbox span::before {
    align-items: center;
    background: var(--input-background);
    border-radius: 3px;
    border: 1px solid var(--input-border);
    color: var(--input-foreground);
    content: '';
    display: flex;
    height: 18px;
    justify-content: center;
    margin-right: 9px;
    min-width: 18px;
    width: 18px;
  }

  & .input {
    background-color: var(--input-background);
    color: var(--input-foreground);
    border: 1px solid var(--input-border);
    padding: 0.3em;
  }

  & .setting-description {
    opacity: 0.6;
    margin: 0;
    padding-top: 0.5em;
    font-size: 0.9em;
  }
}
