:root {
  --bgc-input: #2f363d;
  --bdc-input: rgb(27, 31, 35);
  --c-input: rgb(225, 228, 232);
}

body {
  background-color: #2d323c;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/CascadiaCodePL.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code PL';
  src: url('/assets/fonts/CascadiaCodePLItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

#app {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  grid-template-columns: auto 1fr;
}

a {
  color: #41a0ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

iframe {
  background: #fff;
  border: 0;
  height: 100%;
  width: 100%;
}

.editor {
  position: relative;
  overflow: hidden;
}

.editor::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
}

#html::after {
  background-image: url('/assets/html5.svg');
}

#css::after {
  background-image: url('/assets/css3.svg');
}

#js::after {
  background-image: url('/assets/js.svg');
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr 5px 1fr;
  height: 100vh;
}

.vertical-gutter {
  cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  background: #2d323c;
}

.horizontal-gutter {
  cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  background: #2d323c;
}

aside {
  background: #2d323c;
  display: flex;
}

aside button {
  position: relative;
}

aside button .button-title {
  background: #2d323c;
  border-radius: 3px;
  border: 1px solid #000;
  box-shadow: 0 0 15px 2px rgb(0 0 0 / 30%);
  color: #c5c5c5;
  display: none;
  font-size: 1.1em;
  padding: 0.5em .75em;
  position: absolute;
  right: -10px; 
  transform: translateX(100%);
  z-index: 1000;

  &:after {
    content: '';
    position: absolute;
    transform: translateX(-100%);
    left: 1px;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid #2d323c;
  }

  &:before {
    content: '';
    position: absolute;
    transform: translateX(-100%);
    left: 0px;
    right: 0;
    width: 0px;
    height: 0px;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    border-right: 0.5em solid #000;
  }
}

aside button.is-active {
  opacity: 1;
  border-left: 3px solid #c5c5c5;
}

aside button:hover {
  opacity: 1;
  & .button-title {
    display: block;
  }
}

.aside-bar {
  width: 310px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 0.85em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 50%, 0);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 50%, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 50%, 0.6);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: hsla(0, 0%, 50%, 1);
  }
}

.aside-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 72px;
}

.aside-sections button {
  background: transparent;
  border: 0;
  border-left: 3px solid transparent;
  cursor: pointer;
  width: 100%;
  opacity: .5;
  transition: opacity .1s ease;
  padding: 16px 0;
}

.aside-sections button.is-active {
  opacity: 1;
  border-left: 3px solid #c5c5c5;
}

.aside-sections button:hover {
  opacity: 1;
}

.aside-sections svg {
  width: 40px;
  height: 40px;
}

.aside-sections header,
.aside-sections footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

[hidden] {
  display: none !important;
}

select, textarea {
  background-color: var(--bgc-input);
  color: var(--c-input);
  border: 1px solid var(--bdc-input);
  margin-top: 8px;
  padding: 2px 8px;
  width: 100%;
}

select {
  height: 26px;
}

.skypack {
  & .skypack-type {
    padding-bottom: 8px;
    opacity: .6;
  }

  & .skypack-item {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
  }

  & .skypack-item strong {
    display: block;
  }

  & .input {
    display: flex;
    background-color: var(--bgc-input);
    border: 1px solid var(--bdc-input);
    color: var(--c-input);
    padding: .5em;
    margin-top: 16px;
    font-size: 1rem;
  }

  & .input .input-icon {
    fill: rgba(128, 128, 128, 0.50);
  }
  
  & .input input {
    width: 100%;
    padding: .05em;
    padding-left: 8px;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--c-input);
  }

  & .search-results.hidden {
    display: none;
  }

  & .search-results ul {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
  }

  & .search-results ul li {
    margin-bottom: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  & .search-results ul li:hover {
    background-color: rgba(128, 128, 128, 0.14);
  }
}

.settings {
  & .settings-content {
    display: grid;
    place-content: center;
    height: 100%;
  }

  & .settings-type {
    opacity: .6;
  }

  & .settings-item {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 1em;
  }

  & .settings-item:hover {
    background: rgba(128, 128, 128, 0.14);
  }

  & .checkbox {
    display: flex;
    align-items: center;
  }

  & .checkbox input {
    display: none;
  }

  & .checkbox span {
    display: flex;
    align-items: center;
  }

  & .checkbox input:checked + span::before {
    content: '✓';
  }

  & .checkbox span::before {
    background: #444d56;
    border: 1px solid #1b1f23;
    border-radius: 3px;
    color: #e1e4e8;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-right: 9px;
  }

  & .input {
    background-color: var(--bgc-input);
    color: var(--c-input);
    border: 1px solid var(--bdc-input);
    padding: .3em;
  }
}