@import url('./css/base.css');
@import url('./css/fonts.css');
@import url('./css/animations.css');

@import url('./css/editors-layout.css');
@import url('./css/aside.css');
@import url('./css/notifications.css');
@import url('./css/skypack.css');
@import url('./css/settings.css');
@import url('./css/drag-drop-area.css');
@import url('./css/console.css');
@import url('./css/history.css');


.scroll-buttons-container {
  display: none;
}

/* Magic Menu Styles */
.preview {
  position: relative;
}

.iframe-container{
  min-height: 0;
}
body{
  height: 100dvh;
}

@media (max-width: 650px) {
  #app {
    grid-template-columns: 1fr;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: top 0.2s;
  }

  .aside-bar {
    width: 100%;
    max-height: calc(100vh - 75px);
  }

  .aside-sections {
    flex-direction: row;
    width: 100%;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    height: fit-content;
  }

  .aside-sections > header,
  .aside-sections > footer {
    flex-direction: row;
    gap: 0 5px;
  }

  .bar-button {
    transform: scale(0.8);
  }

  .aside-sections button.is-active,
  aside button.is-active {
    border-left: none;
  }

  aside button:hover .button-title {
    display: none;
  }

  .search-results {
    max-width: 90vw;
  }

  #editor {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    margin: 75px 0 0;
  }

  .editor{
    min-height: calc(100vh - 75px);
    scroll-snap-align: start;
  }

  .iframe-container {
    scroll-snap-align: start;
    min-height: 100dvh;
  }

  iframe body {
    padding: 0 0 5em;
  }

  .vertical-gutter,
  .horizontal-gutter {
    display: none;
  }

  .margin {
    max-width: 10px;
  }

  #html .margin {
    background: #F33E15;
  }
  #css .margin {
    background: #158BF3;
  }
  #js .margin {
    background: #E99F1E;
  }

  #html::after,
  #css::after,
  #js::after {
    display: none;
  }

  .iPadShowKeyboard {
    display: none;
  }

  .scroll-buttons-container {
    display: block;
    position: absolute;
    bottom: 16px;
    right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1em;
    z-index: 10;
  }

  .scroll-button {
    width: 4em;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s background-color ease;

    background: #158BF3;
    color: #fff;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .scroll-button:hover {
    background: #3ba1fa;
  }

  .scroll-button > svg {
    width: 24px;
  }

  .previewer-active {
    height: calc(100dvh - 75px);
    display: block;
  }
  .previewer-hide {
    display: none;
  }
}


button {
  &:disabled, &:hover:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-left-color: #c5c5c5;
  margin: auto;

  animation: spin 1s linear infinite;
}
