@import url('./css/base.css');
@import url('./css/fonts.css');
@import url('./css/animations.css');

@import url('./css/editors-layout.css');
@import url('./css/aside.css');
@import url('./css/notifications.css');
@import url('./css/skypack.css');
@import url('./css/settings.css');
@import url('./css/layout-preview.css');
@import url('./css/drag-drop-area.css');
@import url('./css/console.css');
@import url('./css/history.css');
@import url('./css/demos.css');


.scroll-buttons-container {
  display: none;
}

/* Magic Menu Styles */
.preview {
  position: relative;
}

.iframe-container{
  min-height: 0;
}
body{
  height: 100dvh;
}

@media (max-width: 650px) {
  #app {
    grid-template-columns: 1fr;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: top 0.2s;
  }

  .aside-bar {
    width: 100%;
    max-height: calc(100dvh - 49px);
  }

  .aside-sections {
    flex-direction: row;
    width: 100%;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    height: fit-content;
  }

  .aside-sections > header,
  .aside-sections > footer {
    flex-direction: row;
    gap: 0 5px;
  }

  .bar-button {
    transform: scale(0.8);
  }

  .aside-sections button.is-active,
  aside button.is-active {
    border-left: none;
  }

  aside button:hover .button-title {
    display: none;
  }

  .search-results {
    max-width: 90vw;
  }

  #editor {
    height: 100dvh;
    min-height: 0;
    padding-top: 49px;
  }

  .gutter-col,
  .gutter-row,
  .first-gutter,
  .second-gutter,
  .last-gutter {
    display: none !important;
  }

  .iPadShowKeyboard {
    display: none;
  }
}


button {
  &:disabled, &:hover:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-left-color: #c5c5c5;
  margin: auto;

  animation: spin 1s linear infinite;
}
